In [58]:
import pandas as pd
import random
import numpy as np

In [59]:
file = "Project-1/college_ed.csv"

In [74]:
Ed = pd.read_csv("college_ed.csv")

Ed.groupby(['Country']).head()

Ed = Ed.drop(Ed[(Ed.Year < 2000) | (Ed.Year > 2015)].index)

Ed[Ed.Code != '']
Ed[Ed.Country != 'World']

          Country Code  Year  College Enrolment ratio
14    Afghanistan  AFG  2003                 1.256840
15    Afghanistan  AFG  2004                 1.256030
16    Afghanistan  AFG  2009                 3.903390
17    Afghanistan  AFG  2011                 3.755980
18    Afghanistan  AFG  2014                 8.662800
40        Albania  ALB  2000                15.603730
41        Albania  ALB  2001                15.974960
42        Albania  ALB  2002                16.431709
43        Albania  ALB  2003                16.805559
44        Albania  ALB  2004                20.055540
45        Albania  ALB  2005                23.311100
46        Albania  ALB  2006                26.620440
47        Albania  ALB  2007                30.653669
48        Albania  ALB  2008                32.077801
49        Albania  ALB  2009                33.400749
50        Albania  ALB  2010                44.540649
51        Albania  ALB  2011                49.670399
52        Albania  ALB  2012                58.565491
53        Albania  ALB  2013                62.547760
54        Albania  ALB  2014                62.706848
65        Algeria  DZA  2001                15.563460
66        Algeria  DZA  2002                17.272110
67        Algeria  DZA  2003                18.473070
68        Algeria  DZA  2004                19.043360
69        Algeria  DZA  2005                20.761471
70        Algeria  DZA  2006                21.230040
71        Algeria  DZA  2007                23.488190
72        Algeria  DZA  2009                29.818720
73        Algeria  DZA  2010                29.834560
74        Algeria  DZA  2011                31.202591
...           ...  ...   ...                      ...
6120    Venezuela  VEN  2008                77.457352
6121    Venezuela  VEN  2009                76.979591
6140      Vietnam  VNM  2000                 9.412480
6141      Vietnam  VNM  2001                 9.470650
6142      Vietnam  VNM  2002                 9.730820
6143      Vietnam  VNM  2003                10.118500
6144      Vietnam  VNM  2005                16.052870
6145      Vietnam  VNM  2006                16.670870
6146      Vietnam  VNM  2007                18.363640
6147      Vietnam  VNM  2008                18.945749
6148      Vietnam  VNM  2009                20.109920
6149      Vietnam  VNM  2010                22.687679
6150      Vietnam  VNM  2011                24.802460
6151      Vietnam  VNM  2012                25.020920
6152      Vietnam  VNM  2013                25.010130
6153      Vietnam  VNM  2014                30.477739
6202        Yemen  YEM  2002                10.631170
6203        Yemen  YEM  2003                10.165490
6204        Yemen  YEM  2004                 9.664880
6205        Yemen  YEM  2005                 9.615120
6206        Yemen  YEM  2006                 9.240600
6207        Yemen  YEM  2007                10.450380
6208        Yemen  YEM  2008                10.614780
6209        Yemen  YEM  2009                11.131560
6210        Yemen  YEM  2010                10.573480
6211        Yemen  YEM  2011                 9.974600
6250     Zimbabwe  ZWE  2010                 5.905600
6251     Zimbabwe  ZWE  2011                 5.823760
6252     Zimbabwe  ZWE  2012                 5.868670
6253     Zimbabwe  ZWE  2013                 5.871750

[2262 rows x 4 columns]

In [71]:
print('Shape', Ed.shape)
print('-------------------------')
print('Number of rows', len(Ed))
print('-------------------------')
print('Column headers', Ed.columns)
print('-------------------------')
print('Data types', Ed.dtypes)
print('-------------------------')
print('Index', Ed.index)
print('-------------------------')

Shape (2277, 4)
-------------------------
Number of rows 2277
-------------------------
Column headers Index(['Country', 'Code', 'Year', 'College Enrolment ratio'], dtype='object')
-------------------------
Data types Country                     object
Code                        object
Year                         int64
College Enrolment ratio    float64
dtype: object
-------------------------
Index Int64Index([  14,   15,   16,   17,   18,   40,   41,   42,   43,   44,
            ...
            6206, 6207, 6208, 6209, 6210, 6211, 6250, 6251, 6252, 6253],
           dtype='int64', length=2277)
-------------------------

In [73]:
Ed.to_csv("ed_output.csv")