In [1]:
# Import libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from pprint import pprint

In [2]:
# URL
renew_energy_url = "https://api.worldbank.org/v2/en/country/all/indicator/EG.FEC.RNEW.ZS?format=json&per_page=20000&source=2"
cntry_url = 'https://restcountries.eu/rest/v2/all'

In [31]:
# Get Renewable Energy Consumption Data
renew_energy_response = requests.get(renew_energy_url).json()
reo = renew_energy_response[1]

# building percent of renewable energy dataframe 
#starting with country
country = [reo[i]['country']['value'] for i in range(len(reo))]
renew_energy_df = pd.DataFrame({'Country':country})

# adding year column to dataframe
year= [reo[i]['date'] for i in range(len(reo))]
renew_energy_df["Year"]= year

# adding alphacode column to dataframe
a_code = [reo[i]['countryiso3code'] for i in range(len(reo))]
renew_energy_df["alpha3code"]= a_code

# adding Percent Renewable value to dataframe
percent_renewable = [reo[i]['value'] for i in range(len(reo))]
renew_energy_df["Percent Renewable"]= percent_renewable

# dropping rows with blank alphacodes - maybe this will do the trick to remove all "non-countries"
renew_energy_df = renew_energy_df[renew_energy_df.alpha3code != ""]

# reomving all nan values for percent renewable
renew_energy_df = renew_energy_df[np.isfinite(renew_energy_df['Percent Renewable'])]

# Changing Year column dtype to float

renew_energy_df["Year"] = pd.to_numeric(renew_energy_df["Year"])

# limiting years to 2000-2015

renew_energy_df = renew_energy_df.drop(renew_energy_df[(renew_energy_df.Year < 2000) | (renew_energy_df.Year > 2015)].index)
renew_energy_df = renew_energy_df.drop(columns=["alpha3code"])
renew_energy_df.head()

          Country  Year  Percent Renewable
2776  Afghanistan  2015          18.423477
2777  Afghanistan  2014          19.314269
2778  Afghanistan  2013          16.334293
2779  Afghanistan  2012          13.973586
2780  Afghanistan  2011          11.482706

In [37]:
# Get Countries, Lat, Long Data
cntry_response = requests.get(cntry_url).json()

# Process each country and store details in a list
cntry_ls = []
for index, each in enumerate(cntry_response):
    try:
        c_name = each['name']
        c_code = each['alpha3Code']
        c_lat = each['latlng'][0]
        c_lng = each['latlng'][1]
        c_pop = each['population']
        c_area = each['area']
        c_details = [c_name, c_code, c_pop, c_area, c_lat, c_lng]
        cntry_ls.append(c_details)
    except:
        print(f"Data not found for {c_name}")

# Convert list to dataframe        
cntry_df = pd.DataFrame(cntry_ls, columns=["Country", "Code", "Population", "Area", "Lat", "Lng"])

# Convert data to numeric
cntry_df["Population"] = pd.to_numeric(cntry_df["Population"])
cntry_df["Area"] = pd.to_numeric(cntry_df["Area"])
cntry_df["Lat"] = pd.to_numeric(cntry_df["Lat"])
cntry_df["Lng"] = pd.to_numeric(cntry_df["Lng"])

# Cross Join year
years = []
for i in range(2000, 2016, 1):
    years.append(i)
years_df = pd.DataFrame(years, columns=["Year"])
years_df

cntry_df['dummykey'] = 0
years_df['dummykey'] = 0

countries_df = cntry_df.merge(years_df, how='outer')

countries_df = countries_df.drop(columns=["dummykey"])
countries_df.head()

Data not found for United States Minor Outlying Islands

       Country Code  Population      Area   Lat   Lng  Year
0  Afghanistan  AFG    27657145  652230.0  33.0  65.0  2000
1  Afghanistan  AFG    27657145  652230.0  33.0  65.0  2001
2  Afghanistan  AFG    27657145  652230.0  33.0  65.0  2002
3  Afghanistan  AFG    27657145  652230.0  33.0  65.0  2003
4  Afghanistan  AFG    27657145  652230.0  33.0  65.0  2004

In [40]:
# Get Emission data
emm_df = pd.read_csv("EmissionData.csv", skiprows=4)

# Remove unwanted columns
emm_df = emm_df.drop(columns=["Indicator Name", "Indicator Code"])
emm_df = emm_df.drop(columns=["1960", "1961", "1962", "1963", "1964", "1965", "1966", "1967", "1968", "1969"])
emm_df = emm_df.drop(columns=["1970", "1971", "1972", "1973", "1974", "1975", "1976", "1977", "1978", "1979"])
emm_df = emm_df.drop(columns=["1980", "1981", "1982", "1983", "1984", "1985", "1986", "1987", "1988", "1989"])
emm_df = emm_df.drop(columns=["1990", "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998", "1999"])
emm_df = emm_df.drop(columns=["2016", "2017", "2018", "Unnamed: 63"])


# Unpivot: Change year columns to rows
emm_df = pd.melt(emm_df, id_vars=['Country Name'], value_vars=['2000', '2001', '2002', '2003', '2004', '2005',
                                                       '2006', '2007', '2008', '2009', '2010', '2011',
                                                       '2012', '2013', '2014', '2015'])
emm_df.columns=["Country", "Year", "Emission"]
emm_df = emm_df.dropna()
emm_df["Year"] = pd.to_numeric(emm_df["Year"])

In [34]:
# Get Education Data
Ed_df = pd.read_csv("college_ed.csv")

Ed_df.groupby(['Country']).head()

Ed_df = Ed_df.drop(Ed_df[(Ed_df.Year < 2000) | (Ed_df.Year > 2015)].index)
Ed_df = Ed_df.drop(columns=["Code"])
Ed_df.head()

        Country  Year  College Enrolment ratio
14  Afghanistan  2003                  1.25684
15  Afghanistan  2004                  1.25603
16  Afghanistan  2009                  3.90339
17  Afghanistan  2011                  3.75598
18  Afghanistan  2014                  8.66280

In [49]:
# Get GDP Data
gdp_file = 'gdp.csv'
gdp_df = pd.read_csv(gdp_file)

gdp_df.drop(['1960', '1961','1962','1963','1964',
         '1965', '1966','1967', '1968','1969',
         '1970','1971','1972', '1973','1974',
         '1975','1976','1977','1978','1979',
         '1980','1981','1982','1983','1984',
         '1985','1986', '1987','1988','1989',
         '1990', '1991','1992','1993','1994',
         '1995', '1996','1997','1998','1999',
         '2016','2017','2018'], axis=1, inplace=True)

del gdp_df['Indicator Code']
del gdp_df['Indicator Name']

gdp_df =pd.melt(gdp_df, id_vars=['Country Name','Country Code'],value_vars=['2000', '2001', '2002', '2003', '2004', '2005',
                                                                       '2006', '2007', '2008', '2009', '2010', '2011',
                                                                       '2012', '2013', '2014', '2015'])

gdp_df.drop( gdp_df[gdp_df ['value'] == 0.000000 ].index , inplace=True)

gdp_df = gdp_df.rename({'Country Name': 'Country'}, axis=1)
gdp_df = gdp_df.rename({'value': 'GDP'}, axis=1)
gdp_df = gdp_df.rename({'variable': 'Year'}, axis=1)
gdp_df = gdp_df.dropna(how='any')
gdp_df = gdp_df.drop(columns=["Country Code"])
gdp_df["Year"] = pd.to_numeric(gdp_df["Year"])

In [77]:
# Create results with all data combined
result1 = countries_df.merge(renew_energy_df, how='left', on=['Country','Year'])
result2 = result1.merge(emm_df, how='left', on=['Country','Year'])
result3 = result2.merge(Ed_df, how='left', on=['Country','Year'])
result = result3.merge(gdp_df, how='left', on=['Country','Year'])
result['GDP'] = result['GDP']/100000

# Drop rows if Percent Renewable is NA
result = result.dropna(subset=['Percent Renewable'])
result

,Country,Code,Population,Area,Lat,Lng,Year,Percent Renewable,Emission,College Enrolment ratio,GDP
0,Afghanistan,AFG,27657145,652230.0,33.0,65.0,2000,54.243126,0.038506,NaN,NaN
1,Afghanistan,AFG,27657145,652230.0,33.0,65.0,2001,54.055055,0.039002,NaN,NaN
2,Afghanistan,AFG,27657145,652230.0,33.0,65.0,2002,43.771149,0.048716,NaN,40551.795663
3,Afghanistan,AFG,27657145,652230.0,33.0,65.0,2003,42.276141,0.051830,1.256840,45155.588081
4,Afghanistan,AFG,27657145,652230.0,33.0,65.0,2004,49.843148,0.039378,1.256030,52267.788089
5,Afghanistan,AFG,27657145,652230.0,33.0,65.0,2005,40.859171,0.052948,NaN,62091.376248
6,Afghanistan,AFG,27657145,652230.0,33.0,65.0,2006,37.137249,0.063728,NaN,69712.855947
7,Afghanistan,AFG,27657145,652230.0,33.0,65.0,2007,33.862579,0.085418,NaN,97478.795319
8,Afghanistan,AFG,27657145,652230.0,33.0,65.0,2008,21.343708,0.154101,NaN,101092.258137
9,Afghanistan,AFG,27657145,652230.0,33.0,65.0,2009,17.813855,0.241723,3.903390,124390.870768
10,Afghanistan,AFG,27657145,652230.0,33.0,65.0,2010,14.839806,0.293837,NaN,158565.747314
11,Afghanistan,AFG,27657145,652230.0,33.0,65.0,2011,11.482706,0.412017,3.755980,178042.929641
12,Afghanistan,AFG,27657145,652230.0,33.0,65.0,2012,13.973586,0.350371,NaN,199073.170657
13,Afghanistan,AFG,27657145,652230.0,33.0,65.0,2013,16.334293,0.315602,NaN,205610.695582
14,Afghanistan,AFG,27657145,652230.0,33.0,65.0,2014,19.314269,0.299445,8.662800,204848.851197
15,Afghanistan,AFG,27657145,652230.0,33.0,65.0,2015,18.423477,NaN,NaN,199071.114190
32,Albania,ALB,2886026,28748.0,41.0,20.0,2000,41.445416,0.978175,15.603730,34803.552580
33,Albania,ALB,2886026,28748.0,41.0,20.0,2001,39.125664,1.053304,15.974960,39221.007935
34,Albania,ALB,2886026,28748.0,41.0,20.0,2002,35.896294,1.229541,16.431709,43480.682422
35,Albania,ALB,2886026,28748.0,41.0,20.0,2003,33.752729,1.412697,16.805559,56114.962571
36,Albania,ALB,2886026,28748.0,41.0,20.0,2004,35.935868,1.376213,20.055540,71846.857815
37,Albania,ALB,2886026,28748.0,41.0,20.0,2005,36.869489,1.412498,23.311100,80520.735394
38,Albania,ALB,2886026,28748.0,41.0,20.0,2006,31.710195,1.302576,26.620440,88960.729190
39,Albania,ALB,2886026,28748.0,41.0,20.0,2007,32.100937,1.322335,30.653669,106773.241444
40,Albania,ALB,2886026,28748.0,41.0,20.0,2008,35.912906,1.484311,32.077801,128813.535079
41,Albania,ALB,2886026,28748.0,41.0,20.0,2009,37.216638,1.495600,33.400749,120442.080859
42,Albania,ALB,2886026,28748.0,41.0,20.0,2010,37.115330,1.578574,44.540649,119269.572546
43,Albania,ALB,2886026,28748.0,41.0,20.0,2011,35.962532,1.803715,49.670399,128908.667427
44,Albania,ALB,2886026,28748.0,41.0,20.0,2012,40.048300,1.692908,58.565491,123197.848862
45,Albania,ALB,2886026,28748.0,41.0,20.0,2013,41.288974,1.749211,62.547760,127762.809612
...,...,...,...,...,...,...,...,...,...,...,...
3954,Zambia,ZMB,15933883,752612.0,-15.0,30.0,2002,89.646601,0.178397,NaN,41938.456782
3955,Zambia,ZMB,15933883,752612.0,-15.0,30.0,2003,89.358474,0.184923,NaN,49018.397313
3956,Zambia,ZMB,15933883,752612.0,-15.0,30.0,2004,89.504729,0.182854,NaN,62210.776748
3957,Zambia,ZMB,15933883,752612.0,-15.0,30.0,2005,89.000256,0.189859,NaN,83318.701691
3958,Zambia,ZMB,15933883,752612.0,-15.0,30.0,2006,89.842884,0.185076,NaN,127568.588993
3959,Zambia,ZMB,15933883,752612.0,-15.0,30.0,2007,92.961409,0.151567,NaN,140569.579763
3960,Zambia,ZMB,15933883,752612.0,-15.0,30.0,2008,92.182579,0.165936,NaN,179108.586379
3961,Zambia,ZMB,15933883,752612.0,-15.0,30.0,2009,92.086560,0.186396,NaN,153283.423040
3962,Zambia,ZMB,15933883,752612.0,-15.0,30.0,2010,92.104297,0.194337,NaN,202655.562736
3963,Zambia,ZMB,15933883,752612.0,-15.0,30.0,2011,90.899608,0.205911,NaN,234600.983397
3964,Zambia,ZMB,15933883,752612.0,-15.0,30.0,2012,88.632329,0.249457,NaN,255033.706992
3965,Zambia,ZMB,15933883,752612.0,-15.0,30.0,2013,88.476209,0.261113,NaN,280454.604422
3966,Zambia,ZMB,15933883,752612.0,-15.0,30.0,2014,88.034037,0.288271,NaN,271506.306072
3967,Zambia,ZMB,15933883,752612.0,-15.0,30.0,2015,87.985452,NaN,NaN,211543.945459
3968,Zimbabwe,ZWE,14240168,390757.0,-20.0,30.0,2000,69.258777,1.139201,NaN,66899.576000
3969,Zimbabwe,ZWE,14240168,390757.0,-20.0,30.0,2001,71.530273,1.018598,NaN,67773.847000
3970,Zimbabwe,ZWE,14240168,390757.0,-20.0,30.0,2002,74.294601,0.957193,NaN,63421.164000
3971,Zimbabwe,ZWE,14240168,390757.0,-20.0,30.0,2003,77.826737,0.843469,NaN,57275.918000
3972,Zimbabwe,ZWE,14240168,390757.0,-20.0,30.0,2004,81.581562,0.742440,NaN,58055.984000
3973,Zimbabwe,ZWE,14240168,390757.0,-20.0,30.0,2005,80.150376,0.832299,NaN,57552.152000
3974,Zimbabwe,ZWE,14240168,390757.0,-20.0,30.0,2006,78.647639,0.796028,NaN,54438.965000
3975,Zimbabwe,ZWE,14240168,390757.0,-20.0,30.0,2007,78.080141,0.741658,NaN,52919.501000
3976,Zimbabwe,ZWE,14240168,390757.0,-20.0,30.0,2008,82.031982,0.573101,NaN,44157.028000
3977,Zimbabwe,ZWE,14240168,390757.0,-20.0,30.0,2009,83.153711,0.405716,NaN,96657.933000
3978,Zimbabwe,ZWE,14240168,390757.0,-20.0,30.0,2010,82.879541,0.552146,5.905600,120416.552000
3979,Zimbabwe,ZWE,14240168,390757.0,-20.0,30.0,2011,79.574227,0.664751,5.823760,141019.203000
3980,Zimbabwe,ZWE,14240168,390757.0,-20.0,30.0,2012,78.019702,0.529703,5.868670,171148.499000
3981,Zimbabwe,ZWE,14240168,390757.0,-20.0,30.0,2013,79.561094,0.775564,5.871750,190910.200000
3982,Zimbabwe,ZWE,14240168,390757.0,-20.0,30.0,2014,81.049292,0.779956,NaN,194955.196000
3983,Zimbabwe,ZWE,14240168,390757.0,-20.0,30.0,2015,81.797809,NaN,NaN,199631.206000