In [6]:
# importing libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests

In [7]:
# storing url for renewable energy
renew_energy_url = "https://api.worldbank.org/v2/en/country/all/indicator/EG.FEC.RNEW.ZS?format=json&per_page=20000&source=2"

In [8]:
# getting as json and checking out where everything is in dictionary, list, etc.
renew_energy_response = requests.get(renew_energy_url).json()
reo = renew_energy_response[1]

In [9]:
# getting as json and checking out where everything is in dictionary, list, etc.
renew_energy_response = requests.get(renew_energy_url).json()
reo = renew_energy_response[1]

# building percent of renewable energy dataframe 
#starting with country
country = [reo[i]['country']['value'] for i in range(len(reo))]
renew_energy_df = pd.DataFrame({'Country':country})

# adding year column to dataframe
year= [reo[i]['date'] for i in range(len(reo))]
renew_energy_df["Year"]= year

# adding alphacode column to dataframe
a_code = [reo[i]['countryiso3code'] for i in range(len(reo))]
renew_energy_df["alpha3code"]= a_code

# adding Percent Renewable value to dataframe
percent_renewable = [reo[i]['value'] for i in range(len(reo))]
renew_energy_df["Percent Renewable"]= percent_renewable

# dropping rows with blank alphacodes - maybe this will do the trick to remove all "non-countries"
renew_energy_df = renew_energy_df[renew_energy_df.alpha3code != ""]

# reomving all nan values for percent renewable
renew_energy_df = renew_energy_df[np.isfinite(renew_energy_df['Percent Renewable'])]

# Changing Year column dtype to float

renew_energy_df["Year"] = pd.to_numeric(renew_energy_df["Year"])

# limiting years to 2000-2015

renew_energy_df = renew_energy_df.drop(renew_energy_df[(renew_energy_df.Year < 2000) | (renew_energy_df.Year > 2015)].index)

renew_energy_df

           Country  Year alpha3code  Percent Renewable
2776   Afghanistan  2015        AFG          18.423477
2777   Afghanistan  2014        AFG          19.314269
2778   Afghanistan  2013        AFG          16.334293
2779   Afghanistan  2012        AFG          13.973586
2780   Afghanistan  2011        AFG          11.482706
2781   Afghanistan  2010        AFG          14.839806
2782   Afghanistan  2009        AFG          17.813855
2783   Afghanistan  2008        AFG          21.343708
2784   Afghanistan  2007        AFG          33.862579
2785   Afghanistan  2006        AFG          37.137249
2786   Afghanistan  2005        AFG          40.859171
2787   Afghanistan  2004        AFG          49.843148
2788   Afghanistan  2003        AFG          42.276141
2789   Afghanistan  2002        AFG          43.771149
2790   Afghanistan  2001        AFG          54.055055
2791   Afghanistan  2000        AFG          54.243126
2835       Albania  2015        ALB          38.615210
2836       Albania  2014        ALB          38.689501
2837       Albania  2013        ALB          41.288974
2838       Albania  2012        ALB          40.048300
2839       Albania  2011        ALB          35.962532
2840       Albania  2010        ALB          37.115330
2841       Albania  2009        ALB          37.216638
2842       Albania  2008        ALB          35.912906
2843       Albania  2007        ALB          32.100937
2844       Albania  2006        ALB          31.710195
2845       Albania  2005        ALB          36.869489
2846       Albania  2004        ALB          35.935868
2847       Albania  2003        ALB          33.752729
2848       Albania  2002        ALB          35.896294
...            ...   ...        ...                ...
15463       Zambia  2013        ZMB          88.476209
15464       Zambia  2012        ZMB          88.632329
15465       Zambia  2011        ZMB          90.899608
15466       Zambia  2010        ZMB          92.104297
15467       Zambia  2009        ZMB          92.086560
15468       Zambia  2008        ZMB          92.182579
15469       Zambia  2007        ZMB          92.961409
15470       Zambia  2006        ZMB          89.842884
15471       Zambia  2005        ZMB          89.000256
15472       Zambia  2004        ZMB          89.504729
15473       Zambia  2003        ZMB          89.358474
15474       Zambia  2002        ZMB          89.646601
15475       Zambia  2001        ZMB          89.809403
15476       Zambia  2000        ZMB          89.990741
15520     Zimbabwe  2015        ZWE          81.797809
15521     Zimbabwe  2014        ZWE          81.049292
15522     Zimbabwe  2013        ZWE          79.561094
15523     Zimbabwe  2012        ZWE          78.019702
15524     Zimbabwe  2011        ZWE          79.574227
15525     Zimbabwe  2010        ZWE          82.879541
15526     Zimbabwe  2009        ZWE          83.153711
15527     Zimbabwe  2008        ZWE          82.031982
15528     Zimbabwe  2007        ZWE          78.080141
15529     Zimbabwe  2006        ZWE          78.647639
15530     Zimbabwe  2005        ZWE          80.150376
15531     Zimbabwe  2004        ZWE          81.581562
15532     Zimbabwe  2003        ZWE          77.826737
15533     Zimbabwe  2002        ZWE          74.294601
15534     Zimbabwe  2001        ZWE          71.530273
15535     Zimbabwe  2000        ZWE          69.258777

[3368 rows x 4 columns]